{% load static %}

<div class="shadow-md">
    <div class="md:container mx-auto py-4 grid grid-cols-12">
        <div class="col-span-4">
            <a href="/" class="uppercase font-robotoSlab flex">
                <div class="pr-4">
                    <!-- <i class="fa-solid fa-building-columns text-4xl scale-125 text-primary"></i> -->
                    <img src="{% static 'img/bentiu-logo.png' %}" alt="BENTIU University logo" style="height: 55px" />
                </div>
                <div>
                    <h3 class="text-primary text-center font-medium">BENTIU UNIVERSITY</h3>
                    <h4 class="text-center text-base">OF PETROLEUM</h4>
                </div>
            </a>
        </div>
        <div class="col-span-8 flex items-center relative">
            <ul class="flex justify-center absolute right-0">
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="/">Home</a>
                </li>
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="javascript:void(0);" onclick="toggleDropdown(event, 'dropdown-about')"
                        >About <i class="fa-solid fa-sort-down absolute top-[2px] -right-[14px]"></i
                    ></a>
                    <ul
                        id="dropdown-about"
                        class="absolute -left-10 mt-2 min-w-40 bg-white border border-gray-200 rounded shadow-lg hidden font-medium">
                        <li>
                            <a href="/about" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-primary"
                                >About Us</a
                            >
                        </li>
                        <li>
                            <a
                                href="/about/vc"
                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-primary"
                                >Word of VC</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="javascript:void(0);" onclick="toggleDropdown(event, 'dropdown-schools')"
                        >Schools <i class="fa-solid fa-sort-down absolute top-[2px] -right-[14px]"></i
                    ></a>
                    <ul
                        id="dropdown-schools"
                        class="absolute -left-12 mt-2 p-2 min-w-[350px] bg-white border border-gray-200 rounded shadow-lg hidden font-medium">
                        <li>
                            <a href="/schools" class="block px-4 py-2 text-white bg-primary rounded-sm p-1"
                                >View all schools</a
                            >
                        </li>
                        {% for s in schools %}
                        <li>
                            <a
                                href="/schools/{{ s.slug }}"
                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-primary"
                                >{{s.name}}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="javascript:void(0);" onclick="toggleDropdown(event, 'dropdown-notice')"
                        >Announcement <i class="fa-solid fa-sort-down absolute top-[2px] -right-[14px]"></i
                    ></a>
                    <ul
                        id="dropdown-notice"
                        class="absolute -left-16 mt-2 p-2 min-w-[350px] bg-white border border-gray-200 rounded shadow-lg hidden font-medium">
                        <li>
                            <a href="/notices" class="block px-4 py-2 text-white bg-primary rounded-sm p-1"
                                >View all announcement</a
                            >
                        </li>
                        {% for n in notice %}
                        <li>
                            <a
                                href="/notices/{{ n.slug }}"
                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-primary"
                                >{{n.title}}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="javascript:void(0);" onclick="toggleDropdown(event, 'dropdown-news')"
                        >News <i class="fa-solid fa-sort-down absolute top-[2px] -right-[14px]"></i
                    ></a>
                    <ul
                        id="dropdown-news"
                        class="absolute -right-16 mt-2 p-2 min-w-[350px] bg-white border border-gray-200 rounded shadow-lg hidden font-medium">
                        <li>
                            <a href="/news" class="block px-4 py-2 text-white bg-primary rounded-sm p-1"
                                >View all news</a
                            >
                        </li>
                        {% for n in news %}
                        <li>
                            <a
                                href="/news/{{ n.slug }}"
                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-primary"
                                >{{n.title}}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="ml-8 uppercase text-sm font-sans font-semibold text-gray-500 relative hover:text-primary">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function toggleDropdown(event, dropdownId) {
        event.stopPropagation();

        // Hide all dropdowns first
        const dropdowns = document.querySelectorAll('ul[id^="dropdown-"]');
        dropdowns.forEach((dropdown) => {
            if (dropdown.id !== dropdownId) {
                dropdown.classList.add('hidden');
            }
        });

        // Toggle the clicked dropdown
        const dropdown = document.getElementById(dropdownId);
        dropdown.classList.toggle('hidden');
    }

    // Close dropdowns if clicking outside
    document.addEventListener('click', function (event) {
        const dropdowns = document.querySelectorAll('ul[id^="dropdown-"]');
        dropdowns.forEach((dropdown) => {
            if (!dropdown.contains(event.target) && !dropdown.previousElementSibling.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });
    });
</script>
