<div class="bg-primary">
    <div class="md:container mx-auto p-2 grid grid-cols-12">
        <div class="col-span-8">
            <div>
                <span class="text-white text-xs">
                    <i class="fa-solid fa-phone mr-2 font-sans"></i> Call us on +211923768744
                </span>
                <span class="text-white text-xs mx-2">
                    <i class="fa-regular fa-envelope mr-2 font-sans"></i>bentiu.university@gmail.com
                </span>
                <span class="text-white text-xs mx-2">
                    <i class="fa-solid fa-location-dot mr-2 font-sans"></i> plot 234 Bentiu Town
                </span>
            </div>
        </div>

        <div class="col-span-4">
            <ul class="list-none flex flex-row justify-end text-white text-xs mt-1">
                <!-- <li class="mr-4">
                    <a href="/signup"><i class="fa-solid fa-user-plus font-sans"></i> Signup</a>
                </li> -->
                {% if user.is_authenticated == True %}
                <li class="ml-8">
                    <a href="/dashboard"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
                </li>
                <li class="ml-8">
                    <a href="/account/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/account"><i class="fa-solid fa-arrow-right-to-bracket mr-2 font-sans"></i>Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
