<div class="md:container mx-auto py-10 px-4 md:px-0">
    <h1 class="text-gray-600 font-medium text-center py-6">University Administration</h1>
    <div class="grid grid-cols-3 md:grid-cols-11 gap-4 mt-4">
        <div class="col-span-1"></div>
        <div class="col-span-3 bg-gray-100 py-8 px-6 rounded-sm flex justify-center">
            <div class="">
                <div class="flex justify-center py-2">
                    <i
                        class="fa-solid fa-user-tie text-blue-900 text-2xl py-[10px] px-[14px] bg-gray-200 rounded-full mx-auto"></i>
                </div>
                <h3 class="text-center text-lg pt-1 font-sans text-gray-500">Principal (Vice Chancellor)</h3>
            </div>
        </div>
        <div class="col-span-3 bg-gray-100 py-8 px-6 rounded-sm flex justify-center">
            <div class="">
                <div class="flex justify-center py-2">
                    <i
                        class="fa-solid fa-user-tie text-primary text-2xl py-[10px] px-[14px] bg-gray-200 rounded-full mx-auto"></i>
                </div>
                <h3 class="text-center text-lg pt-1 font-sans text-gray-500">Deputy Principal for Academic Affairs</h3>
            </div>
        </div>
        <div class="col-span-3 bg-gray-100 py-8 px-6 rounded-sm flex justify-center">
            <div class="">
                <div class="flex justify-center py-2">
                    <i
                        class="fa-solid fa-user-tie text-blue-900 text-2xl py-[10px] px-[14px] bg-gray-200 rounded-full mx-auto"></i>
                </div>
                <h3 class="text-center text-lg pt-1 font-sans text-gray-500">
                    Deputy Principal for Administration & Finance
                </h3>
            </div>
        </div>
    </div>
</div>
