{% load static %}

<div class="mt-20">
    <div class="py-[80px] flex justify-center items-center" style="background-color: rgba(10, 10, 20, 0.9)">
        <form>
            <h1 class="text-center font-medium text-white">Get in touch</h1>
            <p class="text-gray-400 font-sans py-8 text-center">Let's find out waht we can do for you!</p>
            <div class="border-4 border-slate-700">
                <input type="email" class="p-2 outline-none min-w-[350px] font-sans" /><button
                    type="submit"
                    class="text-gray-200 px-8 font-sans">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <p class="bg-primary text-white text-sm text-center py-2">
        Copyright © 2024 Bentiu University of Petroleum. Powered by NiloTech
    </p>
</div>
