{% load static %}
<div class="md:container mx-auto py-10 px-4 md:px-0 grid grid-cols-12">
    <div class="col-span-12 md:col-span-3"></div>
    <div class="col-span-12 md:col-span-6">
        <h1 class="font-medium text-gray-600 my-4 text-center">Future University Projects</h1>
        <br />

        <p class="leading-relaxed text-lg font-sans font-base text-gray-600 text-justify">
            Bentiu University College of Petroleum specializes in Upstream, Midstream and Downstream petroleum Science
            and Engineering. It is therefore plan to develop below key areas:
        </p>
        <br />
        <br />
        <ul class="leading-loose">
            <li>1. Chemical Engineering and Technology</li>
            <li>2. Oil and Gas Well Engineering</li>
            <li>3. Oil and Gas Storage and Transportation</li>
            <li>4. Engineering</li>
            <li>5. Oil and Gas Field Development Engineering</li>
            <li>6. Mechanized Agriculture Engineering</li>
        </ul>
    </div>
</div>
