{% load static %}
<div class="md:container mx-auto pt-[30px] md:pt-[120px] px-4 md:px-0">
    <h2 class="font-medium text-gray-600 mb-1">Latest News</h2>

    <span class="w-[120px] h-[2px] bg-gray-400 inline-block"></span>
    <span class="w-[80px] h-[2px] bg-gray-200 inline-block"></span>

    <div class="grid grid-cols-4 md:grid-cols-12 gap-8 mt-4">
        {% for n in news %}
        <div class="col-span-4 border-2 border-gray-200 p-1">
            <div class="loading-container">
                <div class="w-full h-[180px] animate-pulse loading-src">
                    <div class="w-full h-full bg-slate-200 flex justify-center items-center">
                        <div class="bg-slate-300 h-6 w-6 animate-spin"></div>
                    </div>
                </div>
                <div
                    class="w-full h-[250px] loaded-src"
                    data-src="/media/{{n.cover}}"
                    style="background-size: cover; background-position: center"></div>
                <a href="/news/{{ n.slug }}" class="inline-block">
                    <h3 class="my-4 text-primary uppercase text-xl font-medium px-2">{{ n.title }}</h3></a
                >
                <div class="px-2 font-sans text-gray-600">{{ n.body|striptags|slice:':100' }}...</div>

                <a href="/news/{{ n.slug }}" class="text-primary text-sm px-2 py-4 inline-block"
                    >Learn more <i class="fa-solid fa-arrow-right"></i
                ></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
