<div class="md:container mx-auto pt-[120px]">
    <h2 class="font-medium text-gray-600 mb-1">Explore</h2>

    <span class="w-[100px] h-[2px] bg-gray-400 inline-block"></span>
    <span class="w-[70px] h-[2px] bg-gray-200 inline-block"></span>

    <div class="grid grid-cols-12 gap-8 mt-4">
        <a
            href="/schools"
            class="col-span-4 bg-gray-100 grid grid-cols-12 border-r-4 border-green-400 hover:text-white hover:bg-green-400 transition-all group">
            <div class="col-span-3 flex justify-center items-center">
                <i class="fa-solid fa-book-open text-4xl text-green-400 group-hover:text-white"></i>
            </div>
            <div class="col-span-9 py-8 px-2 pr-4">
                <h4 class="mb-4">Schools</h4>
                <p class="text-base font-thin font-sans">
                    Discover the unique offerings and educational excellence of our institutions.
                </p>
            </div>
        </a>
        <a
            href="/notices"
            class="col-span-4 bg-gray-100 grid grid-cols-12 border-r-4 border-red-400 hover:text-white hover:bg-red-400 transition-all group">
            <div class="col-span-3 flex justify-center items-center">
                <i class="fa-regular fa-envelope text-4xl text-red-400 group-hover:text-white"></i>
            </div>
            <div class="col-span-9 py-8 px-2 pr-4">
                <h4 class="mb-4">Announcements</h4>
                <p class="text-base font-thin font-sans">
                    Stay updated with the most recent news and important information.
                </p>
            </div>
        </a>
        <a
            href="/contact"
            class="col-span-4 bg-gray-100 grid grid-cols-12 border-r-4 border-blue-500 hover:text-white hover:bg-blue-500 transition-all group">
            <div class="col-span-3 flex justify-center items-center">
                <i class="fa-regular fa-address-book text-4xl text-blue-500 group-hover:text-white"></i>
            </div>
            <div class="col-span-9 py-8 px-2 pr-4">
                <h4 class="mb-4">Contact</h4>
                <p class="text-base font-thin font-sans">Reach out to us for any inquiries or assistance.</p>
            </div>
        </a>
    </div>
</div>
