{% load static %}
<div
    class="mt-[120px] min-h-[350px] flex items-center"
    style="background-image: url('{% static 'img/education_doodles.png' %}'); background-color: rgba(10, 10, 20, 0.9)">
    <div class="md:container mx-auto grid grid-cols-12">
        <div class="col-span-6 md:pr-10 md:border-r-2 md:border-gray-500">
            <h2 class="text-white font-medium">Mission</h2>
            <p class="leading-loose text-white font-sans mt-6 text-lg">
                Mission To provide a world class expertise in Upstream, Midstream and downstream operations in oil and
                gas industry in order to assist and advance the petroleum and energy industry.
            </p>
        </div>
        <div class="col-span-6 md:pl-10">
            <h2 class="text-white font-medium">Vision</h2>
            <p class="leading-loose text-white font-sans mt-6 text-lg">
                To be a regional center of excellence in training experts, technicians and craftsmen in oil and gas
                industry and business management. We are dedicated to academic excellence.
            </p>
        </div>
    </div>
</div>
