{% load static %}
<div class="md:container mx-auto pt-[120px]">
    <h2 class="font-medium text-gray-600 mb-1">Latest News</h2>

    <span class="w-[120px] h-[2px] bg-gray-400 inline-block"></span>
    <span class="w-[80px] h-[2px] bg-gray-200 inline-block"></span>

    <div class="grid grid-cols-12 gap-8 mt-4">
        <div class="col-span-4 border-2 border-gray-200 p-1">
            <a href="/">
                <div
                    class="w-full h-[250px]"
                    style="
                        background-image: url('{% static 'img/blog1.jpg' %}');
                        background-size: cover;
                        background-position: center;
                    "></div>
                <h3 class="my-4 text-primary uppercase text-xl font-medium px-2">Lorem ipsum dolor sit amet.</h3>
                <p class="px-2 font-sans text-gray-600">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos sapiente voluptatum dicta,
                    perspiciatis placeat adipisci.
                </p>
                <a href="/" class="text-primary text-sm px-2 py-4 block"
                    >Learn more <i class="fa-solid fa-arrow-right"></i
                ></a>
            </a>
        </div>
        <div class="col-span-4 border-2 border-gray-200 p-1">
            <a href="/">
                <div
                    class="w-full h-[250px]"
                    style="
                        background-image: url('{% static 'img/blog2.jpg' %}');
                        background-size: cover;
                        background-position: center;
                    "></div>
                <h3 class="my-4 text-primary uppercase text-xl font-medium px-2">Lorem ipsum dolor sit amet.</h3>
                <p class="px-2 font-sans text-gray-600">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos sapiente voluptatum dicta,
                    perspiciatis placeat adipisci.
                </p>
                <a href="/" class="text-primary text-sm px-2 py-4 block"
                    >Learn more <i class="fa-solid fa-arrow-right"></i
                ></a>
            </a>
        </div>
        <div class="col-span-4 border-2 border-gray-200 p-1">
            <a href="/">
                <div
                    class="w-full h-[250px]"
                    style="
                        background-image: url('{% static 'img/blog3.jpg' %}');
                        background-size: cover;
                        background-position: center;
                    "></div>
                <h3 class="my-4 text-primary uppercase text-xl font-medium px-2">Lorem ipsum dolor sit amet.</h3>
                <p class="px-2 font-sans text-gray-600">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos sapiente voluptatum dicta,
                    perspiciatis placeat adipisci.
                </p>
                <a href="/" class="text-primary text-sm px-2 py-4 block"
                    >Learn more <i class="fa-solid fa-arrow-right"></i
                ></a>
            </a>
        </div>
    </div>
</div>
