<div class="md:container mx-auto py-10">
    <h2 class="font-medium text-gray-600 text-center mb-8">Staff</h2>
    <div class="grid grid-cols-12">
        <div class="col-span-3"></div>
        <div class="col-span-6 text-justify">
            <p class="leading-relaxed">
                BUCP has 12 full time academic and administrative staff and 9 part time staff, most of whom were
                reappointed in 2022. The University College is expected to have it first intake in 2024, after the
                teaching activities were interfered with by the 2013 crisis in the country. Originally, the college
                adopted a Kenyan curriculum which is now under review with the of Specialized Sub-Committee of National
                Council Higher Education of the Republic of South Sudan.
            </p>
            <h4 class="p-4 text-gray-600 font-medium text-center">Core values</h4>
            <div class="flex flex-wrap justify-center gap-4">
                <span class="text-xs"><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Excellence</span>
                <span class="text-xs"><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Teamwork</span>
                <span class="text-xs"
                    ><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Integrity and Acountability</span
                >
                <span class="text-xs"
                    ><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Diversity and inclusion</span
                >
                <span class="text-xs"><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Professionalism</span>
                <span class="text-xs"><i class="fa-solid fa-circle-check mr-1 text-gray-600"></i>Respect</span>
            </div>
        </div>
    </div>
</div>
