{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'img/bentiu-logo.png' %}" type="image/x-icon" />
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
        <script src="{% static 'js/bgload.js' %}" type="text/javascript" defer></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
        <title>{{ title|default:"University" }}</title>
    </head>
    <body class="font-robotoSlab">
        <div>{% include 'nav/primary_nav.html' %} {% include 'nav/navbar.html' %}</div>
        {% block content %} {% endblock %}
        <div>{% include 'sections/footer.html' %}</div>
    </body>
</html>
