{% extends 'layout.html' %} {% block content%} {% load static %}
<div class="md:container mx-auto pt-[30px] md:pt-[120px] px-4 md:px-0">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-3 md:hidden">
            <div>
                <h2 class="font-medium text-gray-600 mb-1">A Word from the Vice Chancellor</h2>

                <span class="w-[100px] h-[2px] bg-gray-400 inline-block"></span>
                <span class="w-[70px] h-[2px] bg-gray-200 inline-block"></span>
            </div>
            <img
                src="{% static 'img/vc.jpg' %}"
                alt="BENTIU University VC"
                style="width: 100%; border-radius: 5px; box-shadow: 1px 5px 10px grey" />
        </div>
        <div class="col-span-12 md:col-span-9">
            <div class="hidden md:block">
                <h2 class="font-medium text-gray-600 mb-1">A Word from the Vice Chancellor</h2>

                <span class="w-[100px] h-[2px] bg-gray-400 inline-block"></span>
                <span class="w-[70px] h-[2px] bg-gray-200 inline-block"></span>
            </div>
            <br /><br />
            <p class="leading-relaxed text-justify mb-4 text-gray-600">
                I am privilege to lead Bentiu University of Petroleum (BUP) during it early development. I am proud of
                the trust bestowed upon me and my team who are fully committed to ensure that BUP stand with its own
                feet and become operational. This is an important mission, because we want our sons and daughters of
                South Sudan and the greater Unity State in particular, to enjoy the fruits of this educational facility
                for many years to come.
            </p>

            <p class="leading-relaxed text-justify mb-4 text-gray-600">
                I personally believe that BUP will contribute significantly towards nation building, peaceful co-
                existent and harmony of all the beautiful communities of South Sudan and to enhance development for
                sharing future.
            </p>

            <p class="leading-relaxed text-justify mb-4 text-gray-600">
                I therefore take this opportunity to appeal to all South Sudanese to join us and contribute in any way
                they could within their capabilities to the growth of this university.
            </p>

            <p class="leading-relaxed text-justify mb-4 text-gray-600">
                Thank you very much for your support. For God and my country!
            </p>

            <div class="grid grid-cols-12 gap-2 mt-4">
                <p class="col-span-7">Prof. Melha Rout Biel</p>
                <p class="col-span-5">Juba, May 2024</p>
                <p class="col-span-7 font-bold">Vice Chancellor (Principal)</p>
            </div>
        </div>
        <div class="col-span-12 md:col-span-3 hidden md:block">
            <img
                src="{% static 'img/vc.jpg' %}"
                alt="BENTIU University VC"
                style="width: 100%; border-radius: 5px; box-shadow: 1px 5px 10px grey" />
        </div>
    </div>
</div>

{%endblock %}
